elasticsearch
elasticsearch-dsl
fastapi[all]
fastapi-users[sqlalchemy]
werkzeug
uvicorn
fuzzywuzzy
Jinja2
Levenshtein
nltk
rapidfuzz
regex
urllib3
Werkzeug
SQLAlchemy
aiosqlite
starlette
passlib
bcrypt
loguru
pydantic