autopep8
certifi
click
colorama
elasticsearch
elasticsearch-dsl
fastapi
uvicorn
fuzzywuzzy
itsdangerous
Jinja2
joblib
Levenshtein
MarkupSafe
nltk
pycodestyle
python-dateutil
python-dotenv
python-Levenshtein
rapidfuzz
regex
six
tqdm
urllib3
Werkzeug
loguru
jose
passlib
jwt
