{% extends 'base.html' %}
{% block headerName %}PAPA | Основная страница{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form method="post" action="/papa" enctype="multipart/form-data">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button
                                    class="accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="collapseTwo"
                            >
                                Сравнить файл с базой
                            </button>
                        </h2>
                        <div
                                id="collapseTwo"
                                class="accordion-collapse collapse show"
                                aria-labelledby="headingTwo"
                        >
                            <div class="accordion-body">
                                <div class="mb-3 text-center">
                                    <label for="formFile" class="form-label btn btn-info" id="fileLabel">Загрузите ваш
                                        файл</label>
                                    <input class="form-control" type="file" id="formFile" name="file"
                                           style="display: none;"/>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example" name="subject"
                                            id="subjectSelect">
                                        <option value="" selected>Выберите предмет из базы</option>
                                        {% for sub in subjects %}
                                        <option value="{{ sub }}">{{ sub }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example" name="work_type"
                                            id="workTypeSelect" disabled>
                                        <option value="" selected>Выберите вид работы из базы</option>
                                        {% for wt in work_types %}
                                        <option value="{{ wt }}">{{ wt }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example" name="task_num"
                                            id="taskNumSelect" disabled>
                                        <option value="" selected>Выберите номер задания из базы</option>
                                        {% for tn in task_nums %}
                                        <option value="{{ tn }}">{{ tn }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <i>P.S. Если поля не выбраны, будет реализован поиск по всей базе</i>
                                <button type="submit" class="btn btn-info w-100">Сравнить</button>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                            >
                                Результат
                            </button>
                        </h2>
                        <div
                                id="collapseThree"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingThree"
                        >
                            <div class="accordion-body">
                                <div id="results" class="results-container">
                                    {% for result in results %}
                                    <div class="result-card animate__animated animate__fadeIn">
                                        <p>{{ result }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% block additional_scripts %}
<script src="{{ url_for('web', path='js/index.js') }}"></script>
{% endblock %}
{% endblock %}
