body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.results-container {
    margin-top: 20px;
    overflow-x: auto;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.result-table th,
.result-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

.result-table th {
    background-color: #f2f2f2;
}

.result-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result-card p {
    width: 49%;
    margin: 0;
}

.accordion-button {
    font-weight: bold;
    background-color: #17a2b8;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-button:not(.collapsed) {
    background-color: #138496;
}

.accordion-body {
    background-color: #e9ecef;
}

.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:hover {
    background-color: #138496;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-info:hover {
    background-color: #138496;
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
