{% extends 'base.html' %}

{% block headerName %}PAPA | Добавление файлов{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="uploadForm">
                <div class="mb-3">
                    <label for="formDirectory" class="form-label">Выберите вашу директорию</label>
                    <input class="form-control" type="file" id="formDirectory" name="files" webkitdirectory directory
                           multiple required>
                </div>
                <button type="submit" class="btn btn-info w-100">Добавить файлы</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('web', path='js/add.js') }}"></script>
{% endblock %}
